<div class="a" >
<B class="fa fa-address-book fa-2x" aria-hidden="true">  <b>   Phone Book App</b></B>
</div>
<h3 style="padding-left: 10%;display: inline;">Contacts</h3>
<h3 style="display: inline; padding-left: 60%">
  <button type="button" class="btn btn-primary" (click)="open(mymodal)" >
  +Add Contact
</button>
</h3>


<app-view ></app-view>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Contact</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  
    First Name <input type="email" class="form-control" [(ngModel)]="fname" placeholder="First Name"><br>

    Last Name  <input type="email" class="form-control" [(ngModel)]="lname" placeholder="Last Name"><br>
    Phone      <input type="email" class="form-control" [(ngModel)]="pnum" placeholder="Phone Number"><br>
   

  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="m1()">Create</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>

<router-outlet></router-outlet>