<div class="input-group mb-3" style="padding-top: 2%;padding-left: 10%; padding-right: 10%;">
   
    <input type="text" class="form-control" [(ngModel)]="search" placeholder="search for contact by last name..." aria-label="" aria-describedby="basic-addon1" >
  </div>
<div style="padding-left: 10%; padding-right: 10%;" *ngFor="let a of carray">
    <div class="card" *ngIf="search==a.lastName" >
    <div class="card-body" >
      <h4>{{a.firstName}} {{a.lastName}}</h4>
      <p style="display: inline;"><i class="fa fa-phone-square" aria-hidden="true" ></i>  {{a.phone}}</p>
    <p  style="display: inline; padding-left: 77%;" (click)="removeContact(a)"><i class="fa fa-trash" aria-hidden="true"></i></p>
    </div>
  </div>
</div>
<div style="padding-left: 10%; padding-right: 10%;" *ngFor="let a of carray">
    <div class="card" *ngIf="search==test" >
    <div class="card-body" >
      <h4>{{a.firstName}} {{a.lastName}}</h4>
      <p style="display: inline;"><i class="fa fa-phone-square" aria-hidden="true" ></i>  {{a.phone}}</p>
    <p  style="display: inline; padding-left: 77%;" (click)="removeContact(a)"><i class="fa fa-trash" aria-hidden="true"></i></p>
    </div>
  </div>
</div>
<div style="padding-left: 10%; padding-right: 10%;" *ngFor="let a of carray">
    <div class="card" *ngIf="search==a.firstName" >
    <div class="card-body" >
      <h4>{{a.firstName}} {{a.lastName}}</h4>
      <p style="display: inline;"><i class="fa fa-phone-square" aria-hidden="true" ></i>  {{a.phone}}</p>
    <p  style="display: inline; padding-left: 77%;" (click)="removeContact(a)"><i class="fa fa-trash" aria-hidden="true"></i></p>
    </div>
  </div>
</div>
